.mainbox{
    display: flex;
    background-color: rgb(230, 187, 187);
    width: auto;
    padding: 10px;
}
.avalable{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    padding: 34px;
    font-size: 20px;
    width: 150px;
    justify-items: center;
    gap: 10px;
}
.unavalable{
    background-color: blue;
    display: flex;
    flex-direction: column;
    padding: 34px;
    font-size: 20px;
    width: 150px;
    gap: 10px;
    justify-items: center;
}
.img{
    height: 200px;
    width: 200px;
    padding: center;
}